@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section Resim{

        <div id="sectionresimkamyon">
            <div id="sectionyazi">
                KAMYONLAR

            </div>
        </div>


}

<div id="body">
    <div class="row">

        @for (int i = 0; i < 15; i++)
        {
                <div id="araclist" class="col-xl-6 col-sm-12 ">
               <div id="arac">
                 <div>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy"><img id="aracresmi" src="https://wallup.net/wp-content/uploads/2019/09/185133-cars-audi-vehicles-audi-a7.jpg" class="" alt="..."></a>
                    <div>
                        AUDI A6
                    </div>
                 </div>


                </div> 
            </div>
        }



    </div>

</div>

