@{
    ViewData["Title"] = "Home Page";
}

@model string
@section Resim{
   
        <div id="sectionresimindex">
            <div id="sectionyazi">
            <div class="col-12">
                <div key="8" style="text-shadow: 12px 5px 6px rgb(11, 23, 51);">Ana Sayfa</div>
            </div>
            

            
           
            
            </div>
        </div>
}

<style>
   

</style>
<div style="" id="body">
    <div key="9" id="Mbaslik">EN UYGUN</div>
    <div key="10" id="metin">Eğer en uygun fiyatlı aracı kiralayarak seyahat etmek istiyorsanız, doğru yerdesiniz. Rent a Car’da size en uygun araçlar sadece birkaç tık uzağınızda. Yüzlerce aracı Türkiye’nin tüm noktalarına ulaştırdığımızdan istediğiniz yere en uygun fiyatlı araçlarla gidebilirsiniz.</div>
    <br/>
    <br/>
    <div key="11" id="Mbaslik">GÜVENİLİR</div>
    <div key="12"  id="metin">Tüm ödeme işlemleriniz, dünyanın önde gelen güvenlik sertifikası şirketleri tarafından koruma altındadır.</div>
    <br />
    <br />
    <div key="13" id="Mbaslik">HIZLI ve KOLAY</div>
    <div key="14"  id="metin">Rent a Car sayesinde size en uygun araçları birkaç tıkla hızla ve kolayca kiralayın.</div>


   
</div>>