@{
    ViewData["Title"] = "Home Page";
}
@section Resim{
   
        <div id="sectionresimindex">
            <div id="sectionyazi">
                Ana Sayfa

            </div>
        </div>
}

<style>
   

</style>
<div style="" id="body">
    <div id="Mbaslik">EN UYGUN</div>
    <div id="metin">Eğer en uygun fiyatlı aracı kiralayarak seyahat etmek istiyorsanız, doğru yerdesiniz. Rent a Car’da size en uygun araçlar sadece birkaç tık uzağınızda. Yüzlerce aracı Türkiye’nin tüm noktalarına ulaştırdığımızdan istediğiniz yere en uygun fiyatlı araçlarla gidebilirsiniz.</div>
    <br/>
    <br/>
    <div id="Mbaslik">GÜVENİLİR</div>
    <div id="metin">Tüm ödeme işlemleriniz, dünyanın önde gelen güvenlik sertifikası şirketleri tarafından koruma altındadır.</div>
    <br />
    <br />
    <div id="Mbaslik">HIZLI ve KOLAY</div>
    <div id="metin">Rent a Car sayesinde size en uygun araçları birkaç tıkla hızla ve kolayca kiralayın.</div>


   
</div>
